<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Image Recognition System</h1>
        </header>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flashes">
            {% for message in messages %}
              <div class="flash-message">{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <section>
            <h2>Upload an Image for Processing</h2>
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <label for="imagefile" class="file-label">Select image:</label>
                <input type="file" id="imagefile" name="imagefile" class="file-input">
                <input type="submit" value="Upload" class="btn">
            </form>
        </section>

        <section>
            <h2>Register a New Image</h2>
            <form action="{{ url_for('register_new_image') }}" method="post" enctype="multipart/form-data">
                <label for="imagefile" class="file-label">Select image:</label>
                <input type="file" id="imagefile" name="imagefile" class="file-input">
                <label for="actual_value" class="text-label">Actual value:</label>
                <input type="text" id="actual_value" name="actual_value" class="text-input">
                <input type="submit" value="Register" class="btn">
            </form>
        </section>
    </div>
</body>
</html>
